@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333333;
  background-color: #ffffff;
  font-family: "Helvetica", sans-serif;
}

a {
  color: #008aff;
  border-bottom: 1px solid #008aff00;
  transition: all 0.3s;
}

a:hover {
  color: #99b9f6;
  border-bottom: 1px solid #99b9f6ff;
}